<mat-card style="width: 100%; height: 100%; box-sizing: border-box">
  <mat-card-header>
    <mat-card-title>Write a new Ticket</mat-card-title>
  </mat-card-header>
  <div>
    <form #ticketForm="ngForm">
      <fieldset enabled>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            name="title"
            [(ngModel)]="ticket.title"
            matInput
            placeholder="Title"
            required
          />
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <mat-label>Priority</mat-label>
          <mat-select name="priority" [(ngModel)]="ticket.priority" required>
            <mat-option ngDefaultControl>Option</mat-option>
            <mat-option value="LOW">LOW</mat-option>
            <mat-option value="NORMAL">NORMAL</mat-option>
            <mat-option value="HIGH">HIGH</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Reason</mat-label>
          <mat-select name="reason" [(ngModel)]="ticket.reason" required>
            <mat-option ngDefaultControl>Option</mat-option>
            <mat-option value="No reason">No Reason</mat-option>
            <mat-option value="Some rEason">Some rEason</mat-option>
            <mat-option value="Your reason">Your reason</mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
          <textarea
            name="description"
            ngModel
            maxlength="300"
            [(ngModel)]="ticket.description"
            matInput
            placeholder="description"
            required
          ></textarea>
        </mat-form-field>
        <br />

        <mat-form-field appearance="fill">
          <textarea
            name="newMessage"
            [(ngModel)]="ticket.newMessage"
            matInput
            placeholder="New Message "
          ></textarea>
        </mat-form-field>
      </fieldset>
      <br />

      <a routerLink="/ticket">
        <button
          (click)="openDialog(); put()"
          mat-button
          [disabled]="ticketForm.invalid"
        >
          Create
        </button>
        <button mat-button>Cancel</button>
      </a>
    </form>
  </div>
  <mat-card-actions> </mat-card-actions>
</mat-card>
