

  <mat-card style= "width: 100%;
  height: 100%;
  box-sizing: border-box;">
    <mat-card-header>
      <mat-card-title>View</mat-card-title>
    </mat-card-header>
  <div>
    <fieldset disabled><mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input [(ngModel)]= "this.ticket.title" matInput placeholder ="Title">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">

        <textarea [(ngModel)]= "ticket.priority" matInput placeholder ="priority"  ></textarea>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
       <textarea [(ngModel)]= "this.ticket.reason" matInput placeholder ="Reason"></textarea>
    </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <textarea matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        cdkAutosizeMaxRows="5" 
        style="width: 100%;"
        [(ngModel)]= "ticket.description" matInput placeholder ="description body"  ></textarea>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <textarea [(ngModel)]= "ticket.newMessage" matInput placeholder ="newMessage body"  ></textarea>
      </mat-form-field>
    </fieldset>
    
  </div>
  <mat-card-actions>
    <a routerLink="/ticket">
      <button  mat-button>Back to List</button>
    </a> 
  </mat-card-actions>
  </mat-card>