<p>ticket-view works!</p>



<mat-card>
    <mat-card-header>
      <mat-card-title>View</mat-card-title>
    </mat-card-header>
  <div>
    <fieldset disabled><mat-form-field appearance="fill">
        <mat-label>Input</mat-label>
        <input [(ngModel)]= "this.ticket.title" matInput placeholder ="Title">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">

        <textarea [(ngModel)]= "ticket.priority" matInput placeholder ="priority"  ></textarea>
      </mat-form-field>
    
      <mat-form-field appearance="fill">
       <textarea [(ngModel)]= "this.ticket.reason" matInput placeholder ="Reason"></textarea>
    </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <textarea [(ngModel)]= "ticket.description" matInput placeholder ="description body"  ></textarea>
      </mat-form-field>
      <br>

      <mat-form-field appearance="fill">
        <textarea [(ngModel)]= "ticket.newMessage" matInput placeholder ="newMessage body"  ></textarea>
      </mat-form-field>
    </fieldset>
    
  </div>
  <mat-card-actions>
    <a routerLink="/ticket">
      <button  mat-button>List</button>
    </a> 
  </mat-card-actions>
  </mat-card>